@font-face {
	font-family: 'Inter';
	src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf) format('truetype');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);
	--paper: hsl(0, 0%, 94%);
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	background-color: var(--paper);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	background-color: var(--off-white);
	padding: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

i {
	color: black;
	font-size: 50px;;
}

#navBar {
	display: none;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

li {
	display: inline;
	color: var(--grayish-blue);
	font-weight: 400;
}

nav > ul > li:hover {
	color: var(--soft-red);
}

main {
	display: flex;
	flex-direction: column;
}

#logo {
	content: url('./assets/images/image-web-3-mobile.jpg');
	width: 100%;
	margin-bottom: 20px;
}

#title {
	font-size: 48px;
	font-weight: 800;
	margin-bottom: 20px;
}

.advertising {
	margin-bottom: 20px;
}

.description {
	line-height: 1.5;
	color: var(--grayish-blue);
	margin-bottom: 20px;
}

#readmore-button {
	width: 50%;
	height: 40px;
	background-color: var(--soft-red);
	color: var(--off-white);
	border-color: var(--soft-red);
	border-style: none;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#readmore-button:hover {
	background-color: black;
	border-color: black;
}

.news {
	background-color: var(--very-dark-blue);
	padding: 20px;
	margin-bottom: 20px;
}

.news-title {
	font-size: 32px;
	font-weight: 800;
	color: var(--soft-orange);
	margin-bottom: 30px;
}

.news-subtitle {
	font-size: 18px;
	font-weight: 700;
	color: var(--off-white);
	margin-bottom: 20px;
}

.news-subtitle:hover {
	color: var(--soft-orange);
}

.news-description {
	line-height: 1.5;
	color: var(--grayish-blue);
	margin-bottom: 20px;
}

hr {
	background-color: var(--grayish-blue);
	margin: 20px 0;
	height: 1px;
}

.review {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 20px;
}

.review-img {
	width: 30%;
}

.lead {
	margin-left: 20px;
}

.review-title {
	font-size: 32px;
	font-weight: 800;
	color: var(--grayish-blue);
	margin-bottom: 10px;
}

.review-subtitle {
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 10px;
}

.review-subtitle:hover {
	color: var(--soft-red);
}

.review-description {
	color: var(--very-dark-blue);
}

footer {
	display: none;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}